.Exhibit {
    float: left;
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    color: #002933;
    background-color: #659dac;
    border: 0.25vw solid #005266;
    
    box-shadow: 20vw 20vw 70vw #90999b;
}

.ExhibitHeading {
    font-weight: bold;
    font-size: 1.75vw;
}

.ExhibitContent {
    margin: 0.5vw;
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: #e2e3e4;
    background-color: #0a4a5a;
    border: 0.25vw solid #b1dee9;
    box-shadow: 10vw 10vw 30vw #b1dee9;
}
